body {
  font-family: Georgia, serif;
}

a img {
	border: 0;
}

#content {
	padding: 2em;
}

.small {font-size:.9em;}
.large {font-size:1.1em;}
.quiet {color:#999;}
.hide {display:none;}

a:link, a:visited {
  color: blue;
}
a:link, a:visited {background:transparent;font-weight:700;text-decoration:underline;}
/*a:link:after, a:visited:after {content:" (" attr(href) ")";font-size:90%;text-decoration:none; color:#5e5e5e;}*/

table { border-collapse: collapse; }
td, th { border: 1px #ccc solid; }

.file_links .file_link_info {
  font-family: "Helvetica", sans-serif;
  background-color: #444444;
  color: #ffffff;
  padding: 4px;
  margin-right: 4px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

